
@{
    ViewBag.Title = "Ekle";
}

<h2>Ekle</h2>

<h2>Ekle</h2>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-12">Secim Id</label>
        <div class="col-md-12">
            <input id="SecimId" type="text" class="form-control" placeholder="Seçim Id Giriniz">
        </div>

    </div>
    <div class="form-group">
        <div class="form-group">
            <label class="col-md-12">Aday Id</label>
            <div class="col-md-12">
                <input id="AdayId" type="text" class="form-control" placeholder="Aday Id Giriniz">
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @*<button id="oyKullan" class="btn btn-block btn-info">Oy Kullan</button>*@
            <input type="button" id="oyKullan" class="btn btn-block btn-info" value="Oy Kullan" />
        </div>

    </div>
</form>