
@{
    ViewBag.Title = "Index";
}
@using BitirmeProjesi.Data.UnitOfWork;
@model List<BitirmeProjesi.Data.Model.OyKullanTablo>
<h2>Index</h2>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">E-SEÇİM NEDİR?</h3>

            <div id="exampleBasic" class="wizard">

                <div class="wizard-content">
                    <p>
                        Hoş geldiniz! E-Seçim, demokrasinin temel değerlerini benimseyen, şeffaf ve katılımcı bir e-seçim platformudur. Misyonumuz, seçim süreçlerini daha erişilebilir, güvenilir ve etkili hale getirerek demokratik katılımı teşvik etmektir.

                        Uzun yıllara dayanan tecrübesi ve uzman ekibi ile, modern teknolojinin sunduğu imkanları kullanarak seçim süreçlerini dijitalleştirmektedir. Sitemiz, seçmenlere kolayca kayıt olma, adayları inceleme, oy kullanma ve sonuçları takip etme imkanı sunmaktadır.

                        Gelişmiş güvenlik önlemleriyle desteklenen platformumuz, kullanıcı gizliliğine önem vererek adil ve dürüst seçim ortamını sağlamayı amaçlamaktadır. Ayrıca, her türlü siyasi görüşe açık ve tarafsız bir zemin sunarak, demokratik değerlere saygı duymaktayız.

                        Vizyonumuz, herkesin kendi tercihlerini özgürce ifade edebildiği, çeşitliliği teşvik eden ve toplumun her kesimini kapsayan bir e-seçim deneyimi sunmaktır. [Sitenizin Adı], demokratik süreçlere daha fazla katılımı teşvik etmek ve insanları bilinçlendirmek amacıyla sürekli olarak kendini geliştirmektedir.

                        Bizimle demokratik bir geleceğe adım atın, çünkü her oy, demokrasinin gücünü artırır!
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>

