@{
    ViewBag.Title = "Ekle";
}

<h2>Aday Ekle</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-12">Kullanıcı Id</label>
        <div class="col-md-12">
            <input id="kullaniciId" type="text" class="form-control" placeholder="Kullanıcı Id Giriniz">
        </div>
        
    </div>
    <div class="form-group">
        <div class="form-group">
            <label class="col-md-12">Seçim Id</label>
            <div class="col-md-12">
                <input id="secimId" type="text" class="form-control" placeholder="Seçim Id Giriniz">
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12">Aday Parti</label>
        <div class="col-md-12">
            <input id="adayParti" type="text" class="form-control" placeholder="Aday Parti Giriniz">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button id="adayKaydet" class="btn btn-block btn-info">Kaydet</button>
            @*<input type="button" id="kullaniciKaydet" class="btn btn-block btn-info" value="Kaydet" />*@
        </div>

    </div>
</form>
